
.icon-logo {
    height: 15vmin;
    pointer-events: none;
    margin: 3em;
    opacity: 1;
  }

.icon-logo {
  transition: all 1.5s;
}

.icon-hover a {
  display: block;
}

.icon-hover:hover a {
    height: 16vmin;
}
  

    /* Portrait */
  @media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {

      .icon-logo {
        height: 30vmin;
        pointer-events: none;
        margin: 2em;
      }
      
    }
