@import url('https://fonts.googleapis.com/css?family=Bitter|Open+Sans&display=swap');

* {
    box-sizing: border-box;
  }
  
  /* Add a gray background color with some padding */
  .blog-container {
    /* padding: 20px !important; */
    width: 60%;
    /* background: white; */
  }
  
  /* Header/Blog Title */
  .header {
    font-family: 'Bitter', serif;
    padding: 40px;
    font-size: 50px !important;
    text-align: center;
    background: rgb(255, 255, 255);
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
margin-left: 0px !important;
margin-right: 0px !important;
  }


  
  /* Create two unequal columns that floats next to each other */
  /* Left column */
  .leftcolumn {   
    float: left;
    width: 75%;
  }
  
  /* Right column */
  .rightcolumn {
    float: left;
    width: 25%;
    padding-left: 20px;
  }
  
  /* Fake image */
  .fakeimg {
    background-color: rgb(184, 124, 157);
    width: 100%;
    padding: 20px;
  }

  .selfimg {
    width: 100%;
    margin: auto;
  }
  
  /* Add a card effect for articles */
  .card {
     background-color: white;
     padding: 20px;
     margin-top: 20px;

  }
    .card h2, h2 {
    font-family: 'Bitter', serif;
    }

    p {
        font-family: 'Open Sans', sans-serif;
    }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Footer */
  .footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
    margin-top: 20px;
  }
  
  /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {   
      width: 100%;
      padding: 0;
    }
  }