@import url('https://fonts.googleapis.com/css?family=Bitter|Open+Sans&display=swap');

* {
    box-sizing: border-box;
  }
  
  /* Add a gray background color with some padding */
  .blog-container {
    /* padding: 20px !important; */
    width: 80%;
    /* background: white; */
  }
  
  /* Header/Blog Title */
  .header {
    width: 100%;
    font-family: 'Bitter', serif;
    padding: 40px;
    font-size: 50px !important;
    text-align: center;
    background: rgb(255, 255, 255);
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    margin-left: 0px !important;
    margin-right: 0px !important;
  }

  .column-container {
    padding: 15px;
  }

  .followme {
    text-align: center;
  }

  
  /* Create two unequal columns that floats next to each other */
  /* Left column */
  .leftcolumn {   
    float: left;
    width: 70%;
  }
  
  /* Right column */
  .rightcolumn {
    float: left;
    width: 30%;
    padding-left: 20px;
  }
  
  /* Fake image */
  .fakeimg {
    background-image: url("https://media0.giphy.com/media/mlvseq9yvZhba/giphy.gif");
    background-color: rgb(184, 124, 157);
    width: 100%;
    padding: 20px;
    height: 100%;
  }

  .selfimg {
    width: 100%;
    margin: auto;
  }
  
  .about-section {margin: 1rem;}

  .emojis {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
  }
  /* Add a card effect for articles */
  .card {
     background-color: white;
     padding: 20px;
     margin-top: 20px;

  }
    .card h2, h2 {
    font-family: 'Bitter', serif;
    }

    p {
        font-family: 'Open Sans', sans-serif;
        font-size: 18px;
        text-align: left;
    }

    .posts {
      text-indent: 1em;
    }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Footer */
  .footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
    margin-top: 20px;
  }
  
  /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {   
      width: 100%;
      padding: 0;
    }
  }


    /* Portrait */
    @media only screen 
    and (min-device-width: 320px) 
    and (max-device-width: 480px)
    and (-webkit-min-device-pixel-ratio: 2) {
  
      .blog-container {
        padding: 20px !important;
        width: 100%;
        /* background: white; */
      }
        
    }@media screen and (min-width: 1400px) {
      .blog-container {
        width: 65%;
      }
    }