@import url('https://fonts.googleapis.com/css?family=Bitter|Open+Sans&display=swap');


.nav {
    font-family: 'Open Sans', sans-serif !important;
    background-color: #fff8fb !important;
}

.navigation-links {
    font-size: 1.2em;
    color: #792d57 !important;
    background-color: #fff8fb !important;
}

.navigation-links:hover {
    color: #792d57;
    font-weight: bold;
    background-color: #fff8fb !important;
    text-decoration: underline !important;
}

.navigation-links:active {
    color: #792d57;
    background-color: #fff8fb !important;
    font-weight: bold !important;
    text-decoration: underline;
}

.navigation-links:visited {
    color: #792d57;
    background-color: #fff8fb !important;
    font-weight: bold !important;
    text-decoration: underline !important;
}

.navigation-inline {
    align-items: center;
}


    /* Portrait */
    @media only screen 
    and (min-device-width: 320px) 
    and (max-device-width: 480px)
    and (-webkit-min-device-pixel-ratio: 2) {
  

        .nav {
            display: flex;
            justify-content: space-evenly;
        }
        
    }