.footer {
    background: white !important;
    padding: 10rem 10rem 2rem 10rem;
}

.footer ul {
    padding-left: 0px !important;
}

.links-section {
    padding-left: 5rem;
}

/* Portrait */
@media only screen 
and (min-device-width: 320px) 
and (max-device-width: 800px)
and (-webkit-min-device-pixel-ratio: 2) {

    .links-section {
        padding-left: 0px;
    }
    
}